{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <title>GA | Eventos</title>
</head>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Global Access para Eventos</h1>
      <p>Descrição do Global Access para eventos.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Global Advising</h2>
        <p>Com mais de 10.000 projetos em 6 países, atendemos as necessidades de clientes locais e globais.</p>
        <p><a class="btn btn-secondary" href="https://gaadvising.com/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Global Access for Companies</h2>
        <p>Descrição do Global Access como solução local, para empresas, condomínios, escolas, hospitais, etc.</p>
        <p><a class="btn btn-secondary" href="https://pypi.org/ role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Descrição de nosso clientes.</p>
        <p><a class="btn btn-secondary" href="http://azure.microsoft.com" role="button">View details &raquo;</a></p>
      </div>
    </div>


  </div> <!-- /container -->

</main>

{% endblock %}